<div class="my-4">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div>Buckets</div>
      <div>Changelog</div>
    </div>
    <div class="d-flex">
      <input type="text" value="Search for posts" />
      <div>77</div>
    </div>
  </div>
  <div>
    <div>Hellonext</div>
    <div>List of features you would like to see on hellonext</div>
  </div>
  <div class="d-flex">
    <div>Latest</div>
    <div>Top</div>
    <div>In Review</div>
    <div>Planned</div>
    <div>In Progress</div>
    <div>Completed</div>
  </div>
</div>
