<div
  class="w-100 h-100 d-flex justify-content-end align-items-center pt-5 container"
>
  <div
    class="px-5 d-flex justify-content-center align-items-center header-sunny"
  >
    <span class="material-icons pr-2">
      wb_sunny
    </span>
    US Stock market opens in 3 hours
  </div>
  <div class="px-5 header-wallet">Main Wallet</div>
  <div class="px-3">
    <span class="material-icons">
      notification_important
    </span>
  </div>
  <div class="px-3">
    <span class="material-icons add-icon">
      add_circle
    </span>
  </div>
</div>
