<div class="d-flex justify-content-between w-100 my-5">
  <div class="d-flex flex-column px-4 py-3 info-account">
    <div class="info-account-header py-3">
      Upgrade your Account
    </div>
    <div class="d-flex w-100 h-100">
      <div class="w-50">
        <img
          src="../../../assets/undraw_book_reading_kx9s.svg"
          width="120"
          height="150"
        />
      </div>
      <div class="w-50 d-flex flex-column justify-content-between">
        <div class="info-account-text">
          Access many other features and helpful insights.
        </div>
        <button class="info-account-button">
          <span class="material-icons">
            arrow_right_alt
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="info-chart d-flex flex-column ml-5 w-100 px-4 py-3">
    <div class="d-flex justify-content-between">
      <div>
        <span *ngFor="let item of duration" class="p-3">
          {{ item }}
        </span>
      </div>
      <div>$</div>
    </div>
    <div class="d-flex h-100">
      <div class="d-flex w-75 info-month align-items-end">
        <div *ngFor="let item of month" class="py-3 px-2">
          <div class="mb-2">
            <div
              class="fake-bar purple-bar"
              [ngStyle]="{ 'height.px': getRandomInt(0, 60) }"
            ></div>
            <div
              class="fake-bar blue-bar"
              [ngStyle]="{ 'height.px': getRandomInt(0, 60) }"
            ></div>
            <div
              class="fake-bar red-bar"
              [ngStyle]="{ 'height.px': getRandomInt(0, 60) }"
            ></div>
          </div>
          <div class="info-month-value">{{ item }}</div>
        </div>
      </div>
      <div class="w-25 d-flex flex-column justify-content-between">
        <div>
          <div class="info-card-text">Portfolio Value</div>
          <div class="info-card-value">$ 9864.34</div>
          <div class="info-card-stat">
            <span class="material-icons">
              arrow_upward
            </span>
            234.63 (30.34%)
          </div>
        </div>
        <div class="chat-indicator py-3">
          <div class="d-flex align-items-center mb-2">
            <div class="indicator-box mr-2 purple-bar"></div>
            <div class="indicator-text">Portfolio</div>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="indicator-box mr-2 blue-bar"></div>
            <div class="indicator-text">Dollar</div>
          </div>
          <div class="d-flex align-items-center">
            <div class="indicator-box mr-2 red-bar"></div>
            <div class="indicator-text">ETFs</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
