.info-account{
  height: 280px;
  background: white;
  border-radius: 10%;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
}

.info-account-header{
  font-size: 20px;
  font-weight: 500;
}

.info-account-text{
  color: var(--gray600);
  font-size: 16px;
}

.info-account-button{
  background: black;
  color: white;
  border-radius: 20%;
  width: 60px;
  height: 60px;
  border: none;
  align-self: flex-end;
}

.info-chart{
  height: 280px;
  background: white;
  border-radius: 7%;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
}

.info-chart-graph{
  height: 100%;
  width: 2px;
  background-color: black;
}

.info-card-text{
  color: var(--gray700);
}

.info-card-value{
  font-size: 24px;
}

.info-month{
  align-self: flex-end;
}

.fake-bar{
  width: 5px;
  background: black;
  height: 100%;
}

.info-month-value{
  color: var(--gray500);
}