<div class="mb-5">
  <div class="d-flex justify-content-between my-3">
    <div class="info-port ml-2">Portfolio History</div>
    <div class="mr-3">Per Industry</div>
  </div>
  <div>
    <div class="d-flex">
      <div
        class="info-card d-flex flex-column py-4 px-3 mr-3 justify-content-between"
        *ngFor="let item of [1, 2, 3, 4]"
      >
        <div>
          <div class="info-card-date mb-2">NOV 19</div>
          <div class="bar-hor"></div>
        </div>
        <div>
          <div class="info-card-text">Portfolio Value</div>
          <div class="info-card-value">$ 9864.34</div>
          <div class="info-card-stat">
            <span class="material-icons">
              arrow_upward
            </span>
            234.63 (30.34%)
          </div>
        </div>
      </div>
      <div
        class="info-unknown d-flex flex-column justify-content-center align-items-center ml-5"
      >
        <div
          class="info-unknown-circle d-flex p-1 justify-content-center align-items-center"
        >
          <div
            class="info-unknown-text d-flex flex-column align-items-center justify-content-center"
          >
            <div class="header">07</div>
            <div class="text">INDUSTRIES</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
