<div class="d-flex justify-content-between my-3">
  <div>
    <div class="footer_label">SYMBOL</div>
    <div class="footer_value">AAPL</div>
  </div>
  <div>
    <div class="footer_label">PRICE</div>
    <div class="footer_value">$ 234.00</div>
  </div>
  <div>
    <div class="footer_label">% RETURN</div>
    <div class="footer_value">$ 45.43</div>
  </div>
  <div>
    <div class="footer_label">TOTAL NET COST</div>
    <div class="footer_value">$ 1234.00</div>
  </div>
  <div>
    <div class="footer_label">MARKET VALUE</div>
    <div class="footer_value">$ 1354.00</div>
  </div>
  <div>
    <div class="footer_label">TOTAL GAIN</div>
    <div class="footer_value">$ 354.00</div>
  </div>
  <div>
    <div class="footer_label">DAILY GAIN</div>
    <div class="footer_value">$ 4.00</div>
  </div>
  <div>
    <div class="footer_label">PORTFOLIO</div>
    <div class="footer_value">13,54 %</div>
  </div>
</div>
