<div class="body">
  <div class="container d-flex justify-content-between">
    <div class="w-100 mr-5">
      <div
        *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
        class="list-item d-flex justify-content-between p-3 my-3"
      >
        <div>
          86
        </div>
        <div>
          <div>Migration of suggestion from different platform</div>
          <div>text body</div>
          <div class="d-flex">
            <div>
              2 comments
            </div>
            <div>
              feature requests
            </div>
          </div>
        </div>
        <div>
          In Progress
        </div>
      </div>
    </div>
    <div>
      <div class="my-3 list-item p-3">
        <div>Participate</div>
        <div>Have something to say? Join the conversation</div>
        <button>SUBMIT SUGGESTION</button>
      </div>
      <div class="list-item p-3">
        <div>Buckets</div>
        <div>Filter posts from various buckets</div>
        <div>All buckets</div>
      </div>
    </div>
  </div>
</div>
