<div class="d-flex justify-content-between">
  <div class="d-flex justify-content-between w-100 mr-5">
    <div>
      86
    </div>
    <div>
      <div>Migration of suggestion from different platform</div>
      <div>text body</div>
      <div class="d-flex">
        <div>
          2 comments
        </div>
        <div>
          feature requests
        </div>
      </div>
    </div>
    <div>
      In Progress
    </div>
  </div>
  <div>
    <div>Participate</div>
    <div>Have something to say? Join the conversation</div>
    <button>SUBMIT SUGGESTION</button>
  </div>
</div>
